button {
      display: block;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-family: $text-main-font;
      font-size: $fs-default;
      background-color: $color-orange;
      color: $color-white;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      padding: 0.9rem 2rem;
      margin-top: 1.5rem;
      cursor: pointer;

      &:focus,
      &:hover {
            background-color: $color-white;
            color: $color-orange;
      }
}