// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: $text-main-font;
	font-size: $fs-default;
	color: $text-color;
	background-color: $color-very-dark-blue;
	line-height: 1.5;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.text-center {
	text-align: center;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pt-2 {
	padding-top: 2rem;
}
