.star {
	margin-bottom: 1rem;
}

.rating-state {
	transition: opacity 250ms;
}
.star_image {
	background-color: $color-dark-blue;
	padding: 15px;
	border-radius: 100px;
	//height: 30px;
}

.card {
	background: rgb(37,45,55);
	background: radial-gradient(circle at top, rgba(37,45,55,1) 0%, rgba(18,20,23,1) 100%);
	border-radius: 20px;
	padding: 2rem;
	width: 90%;
}

.state {
	//display: none;
	margin-top: 2rem;
	transition: opacity 250ms;

	.rating-container {
		display: inline;
		color: $color-orange;
		padding: 0.5rem 1rem;
		border-radius: 100px;
		background-color: $color-dark-blue;
	}
}




ul {
	list-style: none;
	display: flex;
	justify-content: space-between;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		//background: rgba(124, 135, 152, 0.1);
		background-color: $color-dark-blue;
		color: $color-light-grey;
		height: 2.8rem;
		width: 2.8rem;
		//padding: 1rem;
		border-radius: 100px;
		cursor: pointer;

		&:focus,
		&:hover {
			color: $color-white;
            	background-color: $color-orange;
		}
	}
}


@media (min-width: 767px) {
	.card {
		width: 100%;
	}
}